@import 'styles/_variaveis.scss';

.nav{    
    font-family: $fontTitulo;  
    

    &__link{
        font-size: 2rem;
        text-decoration: none;
        color: $base;
        transition: .8s;        
        &:hover{                          
            color: $base;
            text-shadow: 0.05em 0.05em 0.1em $destaque;          
        }
    }
}