@import url('https://fonts.googleapis.com/css2?family=Eczar:wght@400;500;600;700;800&display=swap');

// Fonts

$fontTitulo: 'Eczar', serif;


// Colors

$fonte: #eeeeee;
    $fonteOpaciti: #eeeeee81;
$destaque: #32e0c4;
    $destaqueOpaciti: #32e0c35d;
$base: #393e46;
    $baseClaro:#848991;
    