@import 'styles/_variaveis.scss';

.conteudoDB{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem 0;
    width: 80%;
    margin: 0 auto;    

    h2{
        font-family: $fontTitulo;
        font-size: 3rem;
        text-decoration: underline;
        color: $destaque;        
        text-align: center;
        width: 100%;
        line-height: 1.2em;
    }
    h3{
        font-size: 1.8rem;        
        color: $base;
        text-align: justify;
        padding: 1em 0;
    }
    p{
        line-height: 2em;
    }
}