@import 'styles/_variaveis.scss';

.container{    
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $baseClaro;
    border-radius: 1rem 1rem 0 0;
    min-height: 60vh;
    margin-top: -1rem;
    border: 2px solid $base;  
    padding: 2rem;  
}