@import 'styles/_variaveis.scss';
.cardFlip{
    padding: 3rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    .titulo{
        font-size: 2rem;
        margin: .5em 0;
        display: inline-block;
        color: $base;   
    }
    &__container{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        column-gap: 2rem;
    }    
    
}